.nav > .depth > li > a:hover{ color:black}

.inner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    position: relative;
    background-color: #ABC1A7;
    font-family: Jua;
    color: white;
}

header .logo {
    width: 45%;
    text-align: right;
    padding-top: 1.2%;
}

header .nav {
    max-width: 1440px;
    width: 100%;
    display: flex;
    font-size: 22px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

header .nav > p {
    padding-top: 1%;
    margin-left: 62%;
    margin-bottom: 0%;
}

/*연주 추가*******/
header .nav > div {
    padding-top: 1%;
    margin-left: 62%;
    margin-bottom: 0%;
}

header .nav > div > p {
    display: inline-block;
}
/*******연주 추가*/

.nav h2 {
    display: block
}

.nav .depth {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center
}

.nav .depth > li {
    width: 15%;
    text-align: center;
}

.nav .depth > li > a {
    text-decoration: none;
    color: white;
}

.nav login_show {
    display: inline;
    width: 100%
}

.info {
    width: 100%;
    height: 1000px;
    background-image: url("https://i.ibb.co/5nGpy0C/404.jpg");
    /*background-color: black;*/
}