/* 여기부터 nav에서 가져오고 수정함-/ 연주 */
.inner {
    max-width: 1440px;
    width: 100%;
    height: 1100px;
    background-color: white;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    position: relative;
    background-color: lightgoldenrodyellow;
    font-family: Jua;
    color: black;
}

header .logo {
    width: 30%;
    text-align: right;
    padding-top: 1.2%;
}

header .logo a {
    text-decoration: none;
    color: black;
}

header .logo a:hover {
    color: #EDB96B;
}

header .nav {
    max-width: 1440px;
    width: 100%;
    display: flex;
    font-size: 22px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

header .nav > p {
    padding-top: 1%;
    margin-left: 62%;
    margin-bottom: 0%;
}

header .nav > div {
    padding-top: 1%;
    margin-left: 54%;
    margin-bottom: 0%;
}

header .nav > div > p {
    display: inline-block;
}

.nav h2 {
    display: block
}

.nav .depth {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center
}

.nav .depth > li {
    width: 15%;
    text-align: center;
}

.nav .depth > li > a {
    text-decoration: none;
    color: black;
}

.nav > .depth > li > a:hover {
    color: #EDB96B;
}

.nav login_show {
    display: inline;
    width: 100%
}

/* 여기까지 nav에서 가져오고 수정함 - 연주 */

a {
    text-align: -moz-center;
}

.section1 {
    font-family: Jua;
}

.section1 > img {
    width: 100%;
}

.first_tilte {
    color: black;
    border: 1px solid white;
    height: 100px;
    margin-top: 30px;
    text-align: center;
}


div.left {
    width: 20%;
    height: 1000px;
    float: left;
    box-sizing: border-box;
    background: lightgoldenrodyellow;
    text-align: center;
}

div.right {
    width: 80%;
    height: 1000px;
    float: right;
    box-sizing: border-box;
    background: lightgoldenrodyellow;

}

/* 좌측 내비 css */

/* 기존의 위치 설정이 초기화되어 좌측으로 정렬 */
.navi {
    list-style-type: noen;
    width: 280px;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.navi li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 20px;
}

/* 리스트 점 없애기 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* 마우스 가져다 놓으면 색상 변경 */
.navi > li > a:hover {
    background-color: #EDB96B;
    color: white;
}

/* 우측 갤러리 css */
#container {
    margin-bottom: 80px;
}

#photo {
    display: block;
    width: 1152px;
    border: 10px solid black;
    margin: 0 auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

#gallery {
    text-align: center;
}

#gallery > li {
    display: inline-block;
    margin: 0 10px;
}

#gallery > li > img {
    display: block;
    width: 200px;
    border: 5px solid black;
    cursor: pointer;
}

.bottom {
    width: 1440px;
    height: 100vh;
    background-color: lightgoldenrodyellow;
    margin: auto;
}

.mycards {
    width: 1440px;
}
