body, html {
    padding: 0;
    margin: 0;
}

.container-fluid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../img/intro_bg.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Jua', sans-serif;
}

.container-fluid .wrap{
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.6);

}

.container-fluid .wrap > .txt_box {
    padding: 400px 0 0;
    color: #fff;
}

.container-fluid .wrap > .txt_box > h2 {
    font-size: 30px;
}

.container-fluid .wrap > .txt_box > p {
    font-size: 24px;
}

.container-fluid .wrap > .txt_box > h1 {
    font-size: 72px;
}

.container-fluid .wrap > .btn_box {
    margin: 40px 0 0;
}

.container-fluid .wrap > .btn_box > div > button {
    width: 160px;
    height: 54px;
    font-size: 20px;
    line-height: 30px;
    border: 0;
}

.container-fluid .wrap > .btn_box > div > button:hover {
    color: white;
    background-color: khaki;
    transition: 0.3s;
}

.container-fluid .wrap > .btn_box > div > #sign_up_btn {
    margin: 15px 0 0;
}

.modal {
    font-family: 'Jua', sans-serif;
}

/* 회원가입 모달 창*/
#signUpModalCenter > div > div > div.modal-body > div > div.field-body {
   flex-grow: 4;
}

#signUpModalCenter > div > div > div.modal-body > div > div.field-label.is-normal {
    padding: 0;
}

#signUpModalCenter > div > div > div.modal-body > div > div.field-label.is-normal > label {
    line-height: 40px;
}