.inner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    position: relative;
    background-color: #ABC1A7;
    font-family: Jua;
    color: white;
}

header .logo {
    width: 45%;
    text-align: right;
    padding-top: 1.2%;
}

header .nav {
    max-width: 1440px;
    width: 100%;
    display: flex;
    font-size: 22px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

header .nav > p {
    padding-top: 1%;
    margin-left: 62%;
    margin-bottom: 0%;
}
header .nav > div {
    padding-top: 1%;
    margin-left: 62%;
    margin-bottom: 0%;
}

header .nav > div > p {
    display: inline-block;
}

.nav h2 {
    display: block
}

.nav .depth {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center
}

.nav .depth > li {
    width: 15%;
    text-align: center;
}

.nav .depth > li > a {
    text-decoration: none;
    color: white;
}

.nav login_show {
    display: inline;
    width: 100%
}

/* 종열이 본문*/
* {
    font-family: 'Jua', sans-serif;
}

.mainpage_content {
    width: 100%;
    height: 500px;
    background-image: url("https://i.ibb.co/GpTk066/123123.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.mainpage_content > img {
    width: 100%;
    height: 500px;


}

.mainpage_recommand {
    width: 100%;
    height: 1400px;
    /*background-color: antiquewhite;*/
    display: flex;
    position: relative;
    flex-direction: column;

}

.mainpage_recommand > span {
    text-align: center;
    width: 100%;
    font-size: 4vw;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.recommand__slot {
    width: 100%;
    height: 1000px;
    /*background-color: aqua;*/
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recommand__slot > section {
    width: 380px;
    height: 420px;
    border: 3px solid black;
    background-color: chocolate;
}

/*.recommand__slot>section:hover {*/
/*    border: 6px solid black;*/
/*}*/

.mainpage_recommand_button {
    text-align: center;
    /*background-color: aqua;*/
}

.mainpage_recommand_button > button {
    width: 300px;
    height: 100px;
    display: inline-block;
    font-size: 30px;
    margin: 50px;
    background-color: #dbdbdb;
    color: black;
    border-radius: 30px;
    border: 3px solid black;
}

.mainpage_recommand_button > button:hover {
    border: 5px solid black;
}

.recommand_slot1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("https://i.ibb.co/DgDQb7k/Kakao-Talk-20221114-163721172.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.recommand_slot2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("https://i.ibb.co/DgDQb7k/Kakao-Talk-20221114-163721172.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.recommand_slot3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("https://i.ibb.co/DgDQb7k/Kakao-Talk-20221114-163721172.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.recommand_slot4 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("https://i.ibb.co/DgDQb7k/Kakao-Talk-20221114-163721172.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.recommand_slot5 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("https://i.ibb.co/DgDQb7k/Kakao-Talk-20221114-163721172.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.recommand_slot6 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("https://i.ibb.co/DgDQb7k/Kakao-Talk-20221114-163721172.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.amusement_name_tooltip {
    background-color: #c9dbc8;
    width: 380px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    color: black;
    /*visibility: hidden;*/
    opacity: 0;
    /*transition-delay: 0.4s;*/
    /*transition-timing-function: ease-out;*/
}

.recommand_slot1:hover .amusement_name_tooltip {
    /*visibility: visible;*/
    opacity: 0.7;
    transition: all 1s;
    scale: 1.2;
}

.recommand_slot2:hover .amusement_name_tooltip {
    /*visibility: visible;*/
    opacity: 0.7;
    transition: all 1s;
    scale: 1.2;
}

.recommand_slot3:hover .amusement_name_tooltip {
    opacity: 0.7;
    transition: all 1s;
    scale: 1.2;
}

.recommand_slot4:hover .amusement_name_tooltip {
    opacity: 0.7;
    transition: all 1s;
    scale: 1.2;
}

.recommand_slot5:hover .amusement_name_tooltip {
    opacity: 0.7;
    transition: all 1s;
    scale: 1.2
}

.recommand_slot6:hover .amusement_name_tooltip {
    opacity: 0.7;
    transition: all 1s;
    scale: 1.2;
}

.mainpage_review {
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    background-color: #dbdbdb;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 30px;
}

.mainpage_review > span {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 5vw;
    color: black;
}

.review__slot-1 {
    width: 100%;
    height: 50%;
    /*background-color: aquamarine;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.review__slot-2 {
    width: 100%;
    height: 50%;
    /*background-color: aquamarine;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.review__slot-1 > section {
    width: 45%;
    height: 90%;
    background-color: #6f6f6f;
    position: relative;
    display: flex;
    border: 3px solid black;
}

.review__slot-2 > section {
    width: 45%;
    height: 90%;
    background-color: #6f6f6f;
    position: relative;
    display: flex;
    border: 3px solid black;
}

.review_slot1_img {
    width: 30%;
    height: 100%;
    background-color: #c9dbc8;
    border-right: 3px solid black;

    background-image: url("https://i.ibb.co/DgDQb7k/Kakao-Talk-20221114-163721172.jpg");
    background-size: cover;
    background-position: center;
}

.review_slot1_txt {
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.review_slot2_img {
    width: 30%;
    height: 100%;
    background-color: #c9dbc8;
    border-right: 3px solid black;

    background-image: url("https://i.ibb.co/DgDQb7k/Kakao-Talk-20221114-163721172.jpg");
    background-size: cover;
    background-position: center;
}

.review_slot2_txt {
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.review_slot3_img {
    width: 30%;
    height: 100%;
    background-color: #c9dbc8;
    border-right: 3px solid black;

    background-image: url("https://i.ibb.co/DgDQb7k/Kakao-Talk-20221114-163721172.jpg");
    background-size: cover;
    background-position: center;
}

.review_slot3_txt {
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.review_slot4_img {
    width: 30%;
    height: 100%;
    background-color: #c9dbc8;
    border-right: 3px solid black;

    background-image: url("https://i.ibb.co/DgDQb7k/Kakao-Talk-20221114-163721172.jpg");
    background-size: cover;
    background-position: center;
}

.review_slot4_txt {
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}


.review_location {
    width: 95%;
    height: 15%;
    margin-left: 5%;
    /*background-color: #6f6f6f;*/
}

.review_location > span {
    color: black;
    font-size: 15px;
    line-height: 60px;
}

.review_name {
    width: 95%;
    height: 20%;
    margin-left: 5%;
    /*background-color: #ABC1A7;*/
    display: flex;
    position: relative;
}

.review_name_title {
    width: 70%;
    height: 100%;
    /*background-color: beige;*/
}

.review_name_title > span {
    color: black;
    font-size: 35px;
    line-height: 60px;
}

.review_name_like {
    width: 30%;
    height: 100%;
}

.review_name_like > span {
    color: black;
    font-size: 20px;
    line-height: 60px;
}

.review_content {
    width: 95%;
    height: 50%;
    margin-left: 5%;
    /*background-color: #dbdbdb;*/
}

.review_content > span {
    color: black;
    font-size: 25px;
}

.review_date {
    width: 95%;
    height: 15%;
    margin-left: 5%;
    /*background-color: #ABC1A7;*/
}

.review_date > span {
    color: black;
    font-size: 20px;
    line-height: 60px;
}

.mainpage_review_button {
    text-align: center;
    /*background-color: #aac0a7;*/
}

.mainpage_review_button > button {
    width: 300px;
    height: 100px;
    display: inline-block;
    font-size: 30px;
    margin: 50px;
    background-color: white;
    color: #aac0a7;
    border-radius: 30px;
    border: 3px solid black;
}

.mainpage_review_button > button:hover {
    border: 5px solid black;
}
