<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5, user-scalable=yes"/>
    <link rel="stylesheet" href="../static/css/common.css"/>
    <link rel="stylesheet" href="../static/css/nav.css"/>
    <link rel="stylesheet" href="../static/css/introduction.css"/>
    <title>Title</title>
</head>
<!-- 바디 입니다~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<body>

<header>
    <div class="logo"><h2>너만 타냐?</h2></div>
    <nav class="nav">
        <p>로그인 입니다</p>
        <ul class="depth">
            <li><a href="#">놀이기구</a></li>
            <li><a href="#">놀이기구 후기</a></li>
            <li><a href="#">나도 탈 수 있을까?</a></li>
        </ul>
    </nav>
</header>

<section class="inner">
    <div class='first_tilte'>
        <h1>놀이기구 소개</h1>
    </div>

    <!-- 좌측 내비 -->
    <div>
        <div class="left">
            <h1>놀이공원 선택</h1>
            <ul class="navi">
                <li><a href="introduction.html">에버랜드</a></li>
                <li><a href="introduction2.html">롯데월드</a></li>
                <li><a href="introduction3.html">서울랜드</a></li>
            </ul>
        </div>

        <!-- 우측 갤러리 -->
        <div class="right">
            <div id="container">
                <img src="../static/image/Everland1.png" alt="photo" id="photo">
            </div>

            <ul id="gallery">
                <li><img src="../static/image/Everland1.png" alt="thumbnail"></li>
                <li><img src="../static/image/Everland2.png" alt="thumbnail"></li>
                <li><img src="../static/image/Everland3.png" alt="thumbnail"></li>
                <li><img src="../static/image/Everland4.png" alt="thumbnail"></li>
            </ul>
        </div>
    </div>
</section>
</body>
<script src="../static/js/introduction.js"></script>