<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5, user-scalable=yes" />
    <title>풀스텍 프로젝트-놀이기구 후기</title>
     <link rel="stylesheet" href="../static/common.css" />
     <link rel="stylesheet" href="../static/post.css" />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo"> <h2>너만 타냐?</h2></div>
        <nav class="nav">
            <p>로그인입니다</p>
            <ul class="depth">
             <li><a href="#">놀이기구</a></li>
             <li><a href="#">놀이기구 후기</a></li>
             <li><a href="#">나도 탈 수 있을까?</a></li>
        </ul>
        </nav>
    </header>
    <section class="review inner">
            <h1 class="review_title">놀이공원 후기</h1>
            <button type="button" class="btn btn-primary " data-bs-toggle="button">놀이기구 후기 작성</button>
        <div class="review_post">
           <div class="img"><img src="../static/img/text.jpg "></div>
            <div class="content">
                <p class="like"><span>놀이공원명:</span> 에버랜드</p><p class="like"><span>좋아요: 1</span></p>
                <p><span>제목:</span> 아, 재미있었다</p>
                <p><span>내용:</span> 이렇게 멋진 세상에서 파란하늘 하늘색 풍선을 우리 맘 속에 열어둘 거야. 너희들의 예쁜 마음을</p>
                <p><span>작성자:</span> 두루미와 거북이</p>
              <span class="button"><button type="button" class="btn btn-outline-danger">좋아요</button><button type="button" class="btn btn-outline-success">삭제</button></span>
            </div>
        </div>
        <div class="review_post">
           <div class="img"><img src="../static/img/text.jpg "></div>
            <div class="content">
                <p class="like"><span>놀이공원명:</span> 에버랜드</p><p class="like"><span>좋아요: 1</span></p>
                <p><span>제목:</span> 아, 재미있었다</p>
                <p><span>내용:</span> 이렇게 멋진 세상에서 파란하늘 하늘색 풍선을 우리 맘 속에 열어둘 거야. 너희들의 예쁜 마음을</p>
                <p><span>작성자:</span> 두루미와 거북이</p>
              <span class="button"><button type="button" class="btn btn-outline-danger">좋아요</button><button type="button" class="btn btn-outline-success">삭제</button></span>
            </div>
        </div>
    </section>
</body>
</html>